In [64]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import LabelEncoder

In [65]:
truck_ds = pd.read_csv("../TruckPriceData.csv")

In [66]:
truck_ds = truck_ds.drop(labels=['Truck ID'], axis=1)

In [67]:
truck_ds.head()

,Quarter,Year,New_or_Used,Sale_Price,List_Price,Pct_of_List,Book_Value,Type,Truck_Manufacturer,Region_Nm,...,Delivery_Region,Channel,Delivery_Location,Age_Yrs,Rear_Axle_Weight,front_axle_wt,Horsepower,Engine_RPM,eng_est_life,Engine_Type
0,Q2,2020,NEW,48501,39000.0,0.804107,48151.47,Tractor,Freightliner,RVS UTC Central US RGN,...,Western US,Retail,Houston,6,40000.0,12000.0,505.0,1800.0,850000.0,IN LINE
1,Q2,2020,NEW,10080,1305.0,0.129464,5088.20,Truck,Freightliner,RVS UTC EAST REGION,...,Western US,Retail,Seattle,11+,17500.0,8000.0,190.0,2300.0,240000.0,IN LINE
2,Q2,2020,NEW,38830,34500.0,0.888488,20193.28,Truck,Freightliner,RVS UTC EAST REGION,...,Central US,Retail,Knoxville,7,21000.0,12000.0,270.0,2000.0,280000.0,IN LINE
3,Q2,2020,NEW,10482,3805.0,0.363003,14470.81,Truck,International,RVS UTC EAST REGION,...,Central US,Retail,Oxford,6,19000.0,10000.0,215.0,2200.0,240000.0,IN LINE
4,Q2,2020,NEW,31033,20250.0,0.652531,28847.86,Tractor,Freightliner,RVS UTC EAST REGION,...,Northeastern US,Fleet,Philadelphia,6,40000.0,12000.0,450.0,1800.0,750000.0,IN LINE

In [68]:
truck_ds.describe()

,Year,Sale_Price,List_Price,Pct_of_List,Book_Value,Model_Year,Odometer,Wheelbase_Size,Gear_Ratio,Num_Axles,Num_Wheels,Rear_Axle_Weight,front_axle_wt,Horsepower,Engine_RPM,eng_est_life
count,13252.000000,13252.000000,13252.000000,13252.000000,13252.000000,13238.000000,1.325200e+04,13252.000000,13252.000000,12321.000000,12321.000000,12555.000000,12116.000000,13086.000000,13086.000000,13086.000000
mean,2020.405071,27317.225928,22404.203756,0.809754,23424.105387,2011.535579,2.963456e+05,190.886734,3.918341,2.323837,7.114763,24266.005894,10127.653516,305.037980,2268.898670,441018.446584
std,0.490924,12056.771777,11715.551097,0.249321,10811.259877,2.678496,1.885691e+05,76.434576,1.611020,0.472446,1.991861,11710.969630,2644.649816,108.176472,655.862108,287637.922861
min,2020.000000,250.000000,100.000000,0.022883,0.000000,1983.000000,1.100000e+01,0.000000,0.000000,1.000000,2.000000,2000.000000,2160.000000,75.000000,1000.000000,0.000000
25%,2020.000000,19995.000000,14000.000000,0.651373,17523.562500,2011.000000,1.588862e+05,150.000000,3.550000,2.000000,6.000000,17500.000000,10000.000000,215.000000,1800.000000,240000.000000
50%,2020.000000,26835.000000,22000.000000,0.900083,23183.850000,2012.000000,2.407085e+05,185.000000,4.100000,2.000000,6.000000,19000.000000,10000.000000,250.000000,2300.000000,240000.000000
75%,2021.000000,35597.750000,30000.000000,0.956023,29671.917500,2013.000000,3.839895e+05,262.000000,4.880000,3.000000,10.000000,40000.000000,12000.000000,450.000000,2400.000000,850000.000000
max,2021.000000,122000.000000,110000.000000,7.789855,109785.000000,2019.000000,2.556015e+06,338.000000,9.000000,4.000000,14.000000,46000.000000,20000.000000,600.000000,6000.000000,850000.000000

In [69]:
categorical = [var for var in truck_ds.columns if truck_ds[var].dtype=='O']
numerical = [var for var in truck_ds.columns if truck_ds[var].dtype!='O']
print('There are {} categorical variables\n'.format(len(categorical)))
print('The categorical variables are :\n\n', categorical)

There are 18 categorical variables

The categorical variables are :

 ['Quarter', 'New_or_Used', 'Type', 'Truck_Manufacturer', 'Region_Nm', 'Condition', 'Model', 'Transmission_Type', 'Engine_Manufacturer', 'Fuel_Type', 'Front_Tire_Size', 'Rear_Tire_Size', 'Color', 'Delivery_Region', 'Channel', 'Delivery_Location', 'Age_Yrs', 'Engine_Type']

In [70]:
for var in categorical:
    print(var, ' contains ', len(truck_ds[var].unique()), ' labels')

Quarter  contains  4  labels
New_or_Used  contains  2  labels
Type  contains  3  labels
Truck_Manufacturer  contains  21  labels
Region_Nm  contains  8  labels
Condition  contains  4  labels
Model  contains  342  labels
Transmission_Type  contains  4  labels
Engine_Manufacturer  contains  20  labels
Fuel_Type  contains  4  labels
Front_Tire_Size  contains  173  labels
Rear_Tire_Size  contains  172  labels
Color  contains  88  labels
Delivery_Region  contains  5  labels
Channel  contains  4  labels
Delivery_Location  contains  52  labels
Age_Yrs  contains  13  labels
Engine_Type  contains  3  labels

In [71]:
truck_ds['Front_Tire_Size'].unique()

array(['295/75R22.5 R260F', '295/75R 22.5 (R250F)',
       '295/75R22.5 14P R287', 'LT215/85R 16P R187',
       '225/70R 19.5 M810YZ', '225/70R 19.5 G647', '245/70R 19.5 R250F',
       '295/75R 22.5 R287A', '295/75R22.5  R280', '295/75R22.5 R283',
       'LT215/85R 16P R250', '11R 22.5 14P (R280)', 'LT225/75R 16E BSW',
       '295/75R 22.5 16PG622', nan, 'G399 LHS 295/75R',
       '295/75R 22.5 R195', '315/80R 22.5 M860', 'P205/65R 15 94V',
       'LT265/75R 16E', 'LT245/75R 16E', 'LT245/75R16E/10PR',
       'LT225/70R 19.5F', 'LT215/85R-16E/10PR', '295/80R22.5 16P R250',
       '315/80R 22.5 (R294)', '255/70R22.5 (R294)', '12R 22.5 16P (R250)',
       'LT225/75R-16E', '295/75R22.5(G395)', '215/85R 16E M779',
       '11R24.5/16PR (XZY)', 'LT225/75R 16E G159', '11R 22.5 14P (XZE)',
       '295/75R 22.5 R250', '225/70R 22.5 R250F', 'LT245/75R 17E',
       '255/70R 22.5 (R194F)', '215/85R 16P M779', '11R 22.5 14P (R250F)',
       '295/75R 22.5 R268', '245/70R22.5 (R187LP)',
       '385/65R 22.5 (M844F)', 'P235/75R 16', '11R 22.5 14P R260F',
       '225/70R 19.5 G159', '295/75R22.5 (G159)', '215/85R 16 M729',
       'LT215/85R 16P M779', 'LT235/85R16E/10PR', 'LT225/75R-16D/8PR',
       '12R 22.5 16P (M843)', 'P225/70R15', '295/75R22.5/14P(R294',
       '295/80R 22.5 R260F', '11R 24.5 14P R287', '8R-19.5/10PR',
       '295/75R22.5 (R194)', 'LT235/85RX16.0/8PR', 'P235/70R 16XL',
       'P215/75RX15', 'P215/75R 15', '295/75R 22.5 (R227)',
       '225/70R 19.5', '225/70R 19.5 XZE', '315/80R 22.5 (M843)',
       'LT235/75R 16E 10P', 'LT225/75R 16F', 'P215/70R 16 PLY',
       '275/80R22.5', '11R 24.5 R280', 'LT215/85R 16P',
       '295/75R 22.5 R195F', 'P205/75RX-15SL', 'P225/75R15-6PR',
       'R250ED 255/70R22.5', '245/70R 19.5 (G647)',
       '425/65R 22.5 (M844F)', '295/75R22.5', '425/65R 22.5 G286',
       '225/70R 19.5 R250F', '11R 22.5 14P R287', '295/75R 22.5 G399HRT',
       '295/75R22.5 (ST-250)', 'P225/75R 16C BSW AS',
       '295/75R 22.5 (R226)', '295/75R22.5 (R299)', '295/75R 22.5 R194F',
       'LT215/85RX-16E/10PR', '295/75R22.5 G662', '11RX22.5/14PR',
       '275/80R24.5(XZA-1)', '12R22.5 16P R250F', '12R 22.5H (R250F)',
       'P215/55R', '255/70R 22.5 R250', '11R 24.5 14P R260F',
       '225/70R 19.5 M895', '11R 24.5 (R250)', '11R 22.5 16P G399LHS',
       '10R 22.5 12PL (G159)', 'P215/70R-15/4PR', '295/70R 22.5 R299',
       '245/75R 22.5 (R187)', '275/80R 22.5 (XT-1)', '225/70R19.5F 12PR',
       '255/70R 22.5', '10R 22.5 R250', '305/75R 24.5 R294',
       'P235/75R-15', '295/75R 22.5 R197', '11R 22.5 14P R283',
       '215/85R 16E (R187)', '295/75R 22.5 G661HSA', '295/75R22.5 (M711)',
       'P225/60R 16BSW', '295/80R22.5 16P R280', '225/70R 19.5 TY287',
       '11R22.5 LRH SP160', '215/85R 16P R187', '295/80R22.5/14P(R194',
       '11R 22.5 RY112A', 'P225/75R15', '295/75R 22.5 (R194F)',
       '295/75R 22.5 RY023', 'LT215/85R 16E M779Z', 'P255/70R 16',
       '275/80R 22.5 XZE', '425/65R22.5 (XZY)', '225/70R 19.5 LRR',
       '275/80R 22.5 HSR2 14', 'LT235/65R', '11R 22.5 R195',
       '245/70R 19.5 R187', '225/70R 19.5 HRS 14P', 'P235/70R 17',
       '295/75R 22.5 G169', 'P235/75R X 17', 'P245/70R17',
       '225/70R19.5 12P R187', 'LT245/70R 17E 10P', '8.00X17.5/10PR',
       '255/70R 22.5 R250F', '295/75R R268 G-RT', '225/70R 19.5 R173Z',
       '10R22.5/14PR', '225/70R 19.35 M729', '235/65R 16 BSW A/S',
       'LT285/75R 16E', 'P205/75R15', '275/80R22.5 14P XDA',
       '11R24.5 14P (G362)', '315/80R22.5/18PR', '245/70R 19.5G (G159)',
       'XZE2 11R 24.5', 'P215/60R X16', 'LT265/85R', '295 75R22.5 (BTT)',
       '245/70R 19.5 R238', 'P245/75R 16', '225/70R 19.5 HRS2',
       '215/70R17.5', '11R24.5 (G159)', 'P255/70R 17', 'P225/75R 15D',
       '215/75R17.5', '255/70R22.5-H R250F', '11R 22.5 16P R280',
       '295/75R 22.5 (R196)', '315/80R22.5/18PR(XZA', '7.5R16/12PR',
       'LT275/75R 18E', '11R 22.5 XZE-2'], dtype=object)

In [72]:
truck_ds[categorical].isnull().sum()

Quarter                   0
New_or_Used               0
Type                      0
Truck_Manufacturer       14
Region_Nm                 0
Condition                 0
Model                    14
Transmission_Type      1790
Engine_Manufacturer     166
Fuel_Type                 0
Front_Tire_Size        1081
Rear_Tire_Size         1093
Color                  1176
Delivery_Region           0
Channel                  40
Delivery_Location       549
Age_Yrs                1591
Engine_Type             166
dtype: int64

In [73]:
truck_ds[numerical].isnull().sum()

Year                   0
Sale_Price             0
List_Price             0
Pct_of_List            0
Book_Value             0
Model_Year            14
Odometer               0
Wheelbase_Size         0
Gear_Ratio             0
Num_Axles            931
Num_Wheels           931
Rear_Axle_Weight     697
front_axle_wt       1136
Horsepower           166
Engine_RPM           166
eng_est_life         166
dtype: int64

In [74]:
import numpy as np
import matplotlib.pyplot as plt

In [75]:
categorical = [var for var in truck_ds.columns if truck_ds[var].dtype=='O']
numerical = [var for var in truck_ds.columns if truck_ds[var].dtype!='O']

# TRYING TO CLEAN UP

In [76]:
truck_ds['Color'] =truck_ds['Color'].fillna('WHITE')
truck_ds['Engine_Manufacturer'] = truck_ds['Engine_Manufacturer'].fillna('CUMM')
truck_ds['Channel'] = truck_ds['Channel'].fillna('Retail')
truck_ds['Engine_Type'] = truck_ds['Engine_Type'].fillna('IN LINE')

In [77]:
for a_mean in numerical:
    print(a_mean, truck_ds[a_mean].dropna().mean())
    truck_ds[a_mean] = truck_ds[a_mean].fillna(round(truck_ds[a_mean].dropna().mean(),0))

Year 2020.4050709326893
Sale_Price 27317.225928161788
List_Price 22404.203755659484
Pct_of_List 0.8097535265242969
Book_Value 23424.105387111405
Model_Year 2011.5355793926576
Odometer 296345.5578252506
Wheelbase_Size 190.88673407787505
Gear_Ratio 3.918341382433015
Num_Axles 2.3238373508643777
Num_Wheels 7.114763412060709
Rear_Axle_Weight 24266.005894066107
front_axle_wt 10127.653516011886
Horsepower 305.0379795200978
Engine_RPM 2268.8986703347086
eng_est_life 441018.4465841357

In [78]:
## Should we eliminate the List price or the Book value or the Pct_of_List value
#### DO IT!!!!!
# Remove list price and percent of list only. Keep book value
truck_ds = truck_ds.drop(columns=['Pct_of_List', 'List_Price'], axis = 1)

In [79]:
# Delivery location has too large of a distribution, drop age_yearss beacues stuff does nnot aliign mathmatically duet to time as well
#### Half of the transmission types were Auto and half manual. therefore drop data???
truck_ds = truck_ds.drop(columns= ['Model', 'Front_Tire_Size', 'Rear_Tire_Size','Color', 'Delivery_Location', 'Age_Yrs', 'Transmission_Type', 'Model','Truck_Manufacturer'], axis=1)

In [80]:
def _str(shit):
    return str(shit)
    
truck_ds['Year'] = truck_ds['Year'].apply(_str)

# Lets do some one hot encoding

In [81]:
numerical = ['Book_Value', 'Model_Year', 'Odometer', 'Wheelbase_Size', 'Gear_Ratio', 'Num_Axles', 'Num_Wheels', 'Rear_Axle_Weight', 'front_axle_wt', 'Horsepower', 'Engine_RPM', 'eng_est_life']

In [82]:
price_scaler = StandardScaler()
price_scaler.fit(truck_ds[numerical])
truck_ds[numerical] = price_scaler.transform(truck_ds[numerical])

In [83]:
categorical = [var for var in truck_ds.columns if truck_ds[var].dtype=='O']

In [86]:
encoder = OneHotEncoder(sparse =  False)
encoder.fit(truck_ds[categorical])
categorical_transformed = encoder.transform(truck_ds[categorical])

In [91]:
truck_ds = truck_ds.drop(labels=categorical, axis=1)
out = np.concatenate(encoder.categories_).ravel().tolist()
one_hot_encoded_categorical_pd = pd.DataFrame(categorical_transformed, columns = out)

In [96]:
fully_cleaned_data = pd.concat([truck_ds,one_hot_encoded_categorical_pd], axis= 1)

In [92]:
truck_ds[numerical].isnull().sum()

Book_Value          0
Model_Year          0
Odometer            0
Wheelbase_Size      0
Gear_Ratio          0
Num_Axles           0
Num_Wheels          0
Rear_Axle_Weight    0
front_axle_wt       0
Horsepower          0
Engine_RPM          0
eng_est_life        0
dtype: int64

In [97]:
fully_cleaned_data.isnull().sum()

Sale_Price        0
Book_Value        0
Model_Year        0
Odometer          0
Wheelbase_Size    0
                 ..
Auction           0
Fleet             0
Retail            0
IN LINE           0
V TYPE            0
Length: 69, dtype: int64

In [ ]:
fully_cleaned_data.to_csv("./fully_cleaned_super_nice_data.csv")

# Lets do a statistical analysis

In [38]:
from scipy.stats import f_oneway
import statsmodels.api as sm
from statsmodels.formula.api import ols
import math
import statistics

/Users/caiden/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/base/tsa_model.py:7: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import (to_datetime, Int64Index, DatetimeIndex, Period,
/Users/caiden/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/base/tsa_model.py:7: FutureWarning: pandas.Float64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import (to_datetime, Int64Index, DatetimeIndex, Period,

In [46]:
y_data = truck_ds['Sale_Price']
X_data = truck_ds.drop(labels=['Sale_Price'],axis=1)
X_data = truck_ds[numerical]

In [48]:
X_var = sm.add_constant(X_data) 
est = sm.OLS(y_data, X_data).fit() 
est.summary()

/Users/caiden/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  x = pd.concat(x[::order], 1)

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:             Sale_Price   R-squared (uncentered):                   1.000
Model:                            OLS   Adj. R-squared (uncentered):              1.000
Method:                 Least Squares   F-statistic:                          2.381e+29
Date:                Fri, 10 Feb 2023   Prob (F-statistic):                        0.00
Time:                        11:59:19   Log-Likelihood:                      1.9061e+05
No. Observations:               10104   AIC:                                 -3.812e+05
Df Residuals:                   10088   BIC:                                 -3.811e+05
Df Model:                          16
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
Year              1.592e-12   9.36e-12      0.170      0.865   -1.67e-11    1.99e-11
Sale_Price           1.0000   4.81e-15   2.08e+14      0.000       1.000       1.000
List_Price        3.969e-15   5.42e-15      0.732      0.464   -6.66e-15    1.46e-14
Pct_of_List      -1.091e-11   1.31e-10     -0.083      0.934   -2.68e-10    2.46e-10
Book_Value         1.18e-15   2.95e-15      0.399      0.690   -4.61e-15    6.97e-15
Model_Year       -2.274e-12    9.4e-12     -0.242      0.809   -2.07e-11    1.62e-11
Odometer         -4.616e-15   1.31e-16    -35.328      0.000   -4.87e-15   -4.36e-15
Wheelbase_Size    1.776e-14   4.22e-13      0.042      0.966    -8.1e-13    8.46e-13
Gear_Ratio        1.222e-12   1.93e-11      0.063      0.950   -3.67e-11    3.91e-11
Num_Axles         4.093e-12   1.37e-10      0.030      0.976   -2.65e-10    2.73e-10
Num_Wheels        1.091e-11   3.64e-11      0.300      0.764   -6.03e-11    8.22e-11
Rear_Axle_Weight   2.22e-16   7.89e-15      0.028      0.978   -1.52e-14    1.57e-14
front_axle_wt     7.494e-16   1.72e-14      0.043      0.965   -3.31e-14    3.46e-14
Horsepower       -1.752e-13   4.91e-13     -0.357      0.721   -1.14e-12    7.88e-13
Engine_RPM        6.661e-16   4.27e-14      0.016      0.988   -8.31e-14    8.44e-14
eng_est_life      2.877e-15   1.96e-16     14.679      0.000    2.49e-15    3.26e-15
==============================================================================
Omnibus:                     2891.576   Durbin-Watson:                   0.244
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           138304.366
Skew:                           0.602   Prob(JB):                         0.00
Kurtosis:                      21.085   Cond. No.                     5.58e+06
==============================================================================

Notes:
[1] RÂ² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The condition number is large, 5.58e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [49]:
est.pvalues

Year                 8.649106e-01
Sale_Price           0.000000e+00
List_Price           4.642477e-01
Pct_of_List          9.336434e-01
Book_Value           6.896830e-01
Model_Year           8.089623e-01
Odometer            7.326998e-258
Wheelbase_Size       9.664522e-01
Gear_Ratio           9.496112e-01
Num_Axles            9.761884e-01
Num_Wheels           7.640300e-01
Rear_Axle_Weight     9.775538e-01
front_axle_wt        9.653410e-01
Horsepower           7.214558e-01
Engine_RPM           9.875559e-01
eng_est_life         2.758256e-48
dtype: float64

In [52]:
truck_ds[numerical].head()

,Year,Sale_Price,List_Price,Pct_of_List,Book_Value,Model_Year,Odometer,Wheelbase_Size,Gear_Ratio,Num_Axles,Num_Wheels,Rear_Axle_Weight,front_axle_wt,Horsepower,Engine_RPM,eng_est_life
0,2020,48501,39000.0,0.804107,48151.47,2012.0,299952.0,194,3.58,3.0,10.0,40000.0,12000.0,505.0,1800.0,850000.0
1,2020,10080,1305.0,0.129464,5088.20,2005.0,196337.0,150,5.86,2.0,6.0,17500.0,8000.0,190.0,2300.0,240000.0
2,2020,38830,34500.0,0.888488,20193.28,2011.0,145675.0,224,3.58,2.0,6.0,21000.0,12000.0,270.0,2000.0,280000.0
3,2020,10482,3805.0,0.363003,14470.81,2012.0,322079.0,254,5.57,2.0,6.0,19000.0,10000.0,215.0,2200.0,240000.0
4,2020,31033,20250.0,0.652531,28847.86,2012.0,349507.0,185,3.55,3.0,10.0,40000.0,12000.0,450.0,1800.0,750000.0

In [55]:
truck_ds_numerical = truck_ds[numerical]
truck_ds_numerical = truck_ds_numerical.drop(labels='Year', axis = 1)

In [30]:
truck_ds['Color'].unique()

array(['WHITE', 'GREEN', 'BLUE', 'BLACK', 'RED', nan, 'VIPR RED',
       'SCHEME', 'W. WHITE', 'WHHITE', 'BEIGE', 'PECAN', 'JADE', 'SILVER',
       'GRAY', 'YELLOW', 'ORANGE', 'PURPLE', 'BUD RED', 'SPRITGRN',
       'IVORY', 'BRT BLUE', 'NEUTRAL', 'WWHITE', 'DK GREEN', 'GREY',
       'TEAL', 'RED.', 'WYHITE', 'GOLD/WHT', 'ROYL BLU', 'TURQUOIS',
       'OFF WHT', 'QCKSILVR', 'MD MAROO', 'SILV BLU', 'JWL GRN', 'BUFF',
       'WHIT', 'BLUE MET', 'WHTE', 'RED SLVR', 'CREME', 'TAN', 'BLUE/GRY',
       'CREAM', 'TAUPE', 'SILVER M', 'DK BLUE', 'REC', 'WHTIE', 'BROWN',
       "WHITE'", 'CASHMERE', '9219', 'MTL BLUE', 'NAVY', 'COLOR',
       'RED PEAR', 'WHT/BLUE', '406250', 'BLUE/M', 'BLUEE', 'PEARL',
       'RED/ORAN', 'BRT SLVR', 'AQUA', 'PLATINUM', 'WHIE', 'MATADOR',
       'BL/WHT', 'BRT GRN', 'RED/SLVR', 'LT BLUE', 'SEAFOAM', 'RED BULL',
       'SMOKE', 'MONOTONE', 'VIPER RE', 'DARK RED', 'VIPE RED', 'RD',
       'REDBULL', 'LT MAROO', 'LIGHTBLU', 'BLCK', 'MAROON', 'BLUE/WHT'],
      dtype=object)

In [41]:
truck_ds[truck_ds['Transmission_Type'] == 'Auto Shift'].shape

(644, 34)

In [52]:
truck_ds.Num_Axles.unique()

array([3.        , 2.        , 2.32383735, 4.        , 1.        ])

In [ ]:
# we could improve this by imputing the values from the averages 
# within the trucks of the same class, however, we did this because
# of time. 
print('Num_Axles',truck_ds['Num_Axles'].dropna().mean())
print('Num_Wheels',truck_ds['Num_Wheels'].dropna().mean())
print('Rear_Axle_Weight', truck_ds['Rear_Axle_Weight'].mean())
print('front_Axle_weight', truck_ds['front_Axle_weight'].mean())
print('Horsepower',truck_ds['Horsepower'].mean())
print('Engine_RPM', truck_ds['Engine_RPM'].mean())
print('eng_est_life',truck_ds['eng_est_life'].mean())
print('Model_Year', truck_ds['Model_Year'].mean())

In [44]:
for a_mean in numerical:
    print(x, truck_ds[x].dropna().mean())

Year 2020.4050709326893
Sale_Price 27317.225928161788
List_Price 22404.203755659484
Pct_of_List 0.8097535265242969
Book_Value 23424.105387111405
Model_Year 2011.5355793926576
Odometer 296345.5578252506
Wheelbase_Size 190.88673407787505
Gear_Ratio 3.918341382433015
Num_Axles 2.3238373508643777
Num_Wheels 7.114763412060709
Rear_Axle_Weight 24266.005894066107
front_axle_wt 10127.653516011886
Horsepower 305.0379795200978
Engine_RPM 2268.8986703347086
eng_est_life 441018.4465841357

In [54]:
truck_ds['Engine_Manufacturer'].unique()

array(['DETR', 'CAT', 'CUMM', 'INTL', 'ISUZ', 'VOLV', 'FORD', 'MACK',
       'MERC', 'GMC', nan, 'Western US', 'HINO', 'PACC', 'MITS', 'CHEV',
       'DODG', 'CHRY', 'UD', 'NISS'], dtype=object)

In [61]:
for x in truck_ds['Engine_Manufacturer'].unique():
    print(x, truck_ds[truck_ds['Engine_Manufacturer'] == x].shape)

DETR (1697, 34)
CAT (222, 34)
CUMM (5162, 34)
INTL (2503, 34)
ISUZ (1972, 34)
VOLV (139, 34)
FORD (429, 34)
MACK (64, 34)
MERC (385, 34)
GMC (269, 34)
nan (0, 34)
Western US (18, 34)
HINO (116, 34)
PACC (72, 34)
MITS (5, 34)
CHEV (21, 34)
DODG (3, 34)
CHRY (1, 34)
UD (4, 34)
NISS (4, 34)

In [62]:
for x in truck_ds['Color'].unique():
    print(x, truck_ds[truck_ds['Color'] == x].shape)

WHITE (10823, 34)
GREEN (111, 34)
BLUE (297, 34)
BLACK (265, 34)
RED (267, 34)
nan (0, 34)
VIPR RED (1, 34)
SCHEME (22, 34)
W. WHITE (2, 34)
WHHITE (2, 34)
BEIGE (24, 34)
PECAN (1, 34)
JADE (3, 34)
SILVER (32, 34)
GRAY (26, 34)
YELLOW (36, 34)
ORANGE (29, 34)
PURPLE (8, 34)
BUD RED (1, 34)
SPRITGRN (3, 34)
IVORY (2, 34)
BRT BLUE (6, 34)
NEUTRAL (2, 34)
WWHITE (1, 34)
DK GREEN (3, 34)
GREY (8, 34)
TEAL (3, 34)
RED. (2, 34)
WYHITE (1, 34)
GOLD/WHT (1, 34)
ROYL BLU (1, 34)
TURQUOIS (1, 34)
OFF WHT (1, 34)
QCKSILVR (1, 34)
MD MAROO (1, 34)
SILV BLU (1, 34)
JWL GRN (1, 34)
BUFF (1, 34)
WHIT (1, 34)
BLUE MET (2, 34)
WHTE (2, 34)
RED SLVR (2, 34)
CREME (1, 34)
TAN (6, 34)
BLUE/GRY (1, 34)
CREAM (1, 34)
TAUPE (1, 34)
SILVER M (5, 34)
DK BLUE (10, 34)
REC (1, 34)
WHTIE (1, 34)
BROWN (2, 34)
WHITE' (1, 34)
CASHMERE (1, 34)
9219 (2, 34)
MTL BLUE (1, 34)
NAVY (1, 34)
COLOR (2, 34)
RED PEAR (1, 34)
WHT/BLUE (2, 34)
406250 (1, 34)
BLUE/M (1, 34)
BLUEE (2, 34)
PEARL (1, 34)
RED/ORAN (3, 34)
BRT SLVR (1, 34)
AQUA (1, 34)
PLATINUM (1, 34)
WHIE (1, 34)
MATADOR (1, 34)
BL/WHT (2, 34)
BRT GRN (3, 34)
RED/SLVR (2, 34)
LT BLUE (1, 34)
SEAFOAM (2, 34)
RED BULL (3, 34)
SMOKE (1, 34)
MONOTONE (1, 34)
VIPER RE (1, 34)
DARK RED (1, 34)
VIPE RED (1, 34)
RD (1, 34)
REDBULL (1, 34)
LT MAROO (2, 34)
LIGHTBLU (1, 34)
BLCK (1, 34)
MAROON (1, 34)
BLUE/WHT (1, 34)

In [63]:
for x in truck_ds['Channel'].unique():
    print(x, truck_ds[truck_ds['Channel'] == x].shape)

Retail (9443, 34)
Fleet (3557, 34)
Auction (212, 34)
nan (0, 34)

In [64]:
for x in truck_ds['Delivery_Location'].unique():
    print(x, truck_ds[truck_ds['Delivery_Location'] == x].shape)

Houston (303, 34)
Seattle (262, 34)
Knoxville (94, 34)
Oxford (233, 34)
Philadelphia (619, 34)
Golden (304, 34)
Pueblo (311, 34)
Los Angeles (42, 34)
New Orleans (223, 34)
Springfield (469, 34)
Greenwood (160, 34)
Auction Sales (74, 34)
Modesto (403, 34)
Boston (761, 34)
Birmingham (242, 34)
Bangor (336, 34)
High Point (296, 34)
Tampa (267, 34)
St Louis (93, 34)
Providence (620, 34)
Syracuse (280, 34)
Charlotte (236, 34)
Atlanta (544, 34)
Kansas City (163, 34)
Louisville (271, 34)
Cleveland (97, 34)
Milwaukee (156, 34)
Dallas (522, 34)
Flagstaff (117, 34)
Missoula (427, 34)
Jacksonville (280, 34)
Baltimore DC (776, 34)
Chicago (492, 34)
Columbia (235, 34)
Bloomington (337, 34)
Denver (298, 34)
Little Rock (145, 34)
Memphis (92, 34)
San Antonio (141, 34)
Miami (155, 34)
Grand Rapids (160, 34)
South Florida (144, 34)
Minnesota St Paul (133, 34)
Nashville (137, 34)
Pittsburgh (65, 34)
Des Moines (90, 34)
Las Vegas (30, 34)
nan (0, 34)
Pensacola (64, 34)
Orlando (1, 34)
Cincinnati (2, 34)
Cheasapeake (1, 34)

In [68]:
truck_ds.head()

,Quarter,Year,New_or_Used,Sale_Price,List_Price,Pct_of_List,Book_Value,Type,Truck_Manufacturer,Region_Nm,...,Delivery_Region,Channel,Delivery_Location,Age_Yrs,Rear_Axle_Weight,front_axle_wt,Horsepower,Engine_RPM,eng_est_life,Engine_Type
0,Q2,2020,NEW,48501,39000.0,0.804107,48151.47,Tractor,Freightliner,RVS UTC Central US RGN,...,Western US,Retail,Houston,6,40000.0,12000.0,505.0,1800.0,850000.0,IN LINE
1,Q2,2020,NEW,10080,1305.0,0.129464,5088.20,Truck,Freightliner,RVS UTC EAST REGION,...,Western US,Retail,Seattle,11+,17500.0,8000.0,190.0,2300.0,240000.0,IN LINE
2,Q2,2020,NEW,38830,34500.0,0.888488,20193.28,Truck,Freightliner,RVS UTC EAST REGION,...,Central US,Retail,Knoxville,7,21000.0,12000.0,270.0,2000.0,280000.0,IN LINE
3,Q2,2020,NEW,10482,3805.0,0.363003,14470.81,Truck,International,RVS UTC EAST REGION,...,Central US,Retail,Oxford,6,19000.0,10000.0,215.0,2200.0,240000.0,IN LINE
4,Q2,2020,NEW,31033,20250.0,0.652531,28847.86,Tractor,Freightliner,RVS UTC EAST REGION,...,Northeastern US,Fleet,Philadelphia,6,40000.0,12000.0,450.0,1800.0,750000.0,IN LINE

In [69]:
for x in truck_ds['Engine_Type'].unique():
    print(x, truck_ds[truck_ds['Engine_Type'] == x].shape)

IN LINE (12888, 34)
V TYPE (198, 34)
nan (0, 34)

In [89]:
truck_ds.head()

,Quarter,Year,New_or_Used,Sale_Price,Type,Region_Nm,Condition,Model_Year,Odometer,Engine_Manufacturer,...,Num_Wheels,Delivery_Region,Channel,Rear_Axle_Weight,front_axle_wt,Horsepower,Engine_RPM,eng_est_life,Engine_Type,Price
0,Q2,-0.82515,NEW,1.757068,Tractor,RVS UTC Central US RGN,Ready,0.173487,0.019126,DETR,...,1.502304,Western US,Retail,1.380371,0.740452,1.860238,-0.719483,1.430907,IN LINE,1.757068
1,Q2,-0.82515,NEW,-1.429726,Truck,RVS UTC EAST REGION,As Is,-2.441401,-0.530375,CAT,...,-0.580442,Western US,Retail,-0.593594,-0.841418,-1.070193,0.047722,-0.703305,IN LINE,-1.429726
2,Q2,-0.82515,NEW,0.954916,Truck,RVS UTC EAST REGION,Ready,-0.200069,-0.799051,CUMM,...,-0.580442,Central US,Retail,-0.286532,0.740452,-0.325957,-0.412601,-0.563357,IN LINE,0.954916
3,Q2,-0.82515,NEW,-1.396382,Truck,RVS UTC EAST REGION,As Is,0.173487,0.136472,INTL,...,-0.580442,Central US,Retail,-0.461996,-0.050483,-0.837619,-0.105719,-0.703305,IN LINE,-1.396382
4,Q2,-0.82515,NEW,0.308201,Tractor,RVS UTC EAST REGION,Validated,0.173487,0.281931,DETR,...,1.502304,Northeastern US,Fleet,1.380371,0.740452,1.348576,-0.719483,1.081036,IN LINE,0.308201

In [36]:
print(numerical)

['Sale_Price', 'Book_Value', 'Model_Year', 'Odometer', 'Wheelbase_Size', 'Gear_Ratio', 'Num_Axles', 'Num_Wheels', 'Rear_Axle_Weight', 'front_axle_wt', 'Horsepower', 'Engine_RPM', 'eng_est_life']

In [39]:
truck_ds['Model_Year'].unique()

array(['0.17330076441134856', '-2.441545056970831',
       '-0.20024863864324852', '0.5468501674659456',
       '-0.9473474447524427', '0.9203995705205427', '-1.3208968478070398',
       '-0.5737980416978455', '-2.815094460025428', '-1.6944462508616367',
       '-3.562193266134622', '-5.05639087835301', '1.6674983766297369',
       '-2.067995653916234', '-4.682841475298414', '-3.9357426691892194',
       '-4.309292072243816', '-9.165434311953579', '1.2939489735751397',
       '-7.67123669973519', '-3.188643863080025', '2.041047779684334',
       '-5.429940281407608', '-6.1770390875168015', '-5.803489684462205',
       '-6.924137893625995', '-6.550588490571399', '-10.659631924171967',
       '2.414597182738931', '-8.044786102789788', '2.788146585793528'],
      dtype=object)

In [63]:
truck_ds.head()

,Quarter,Year,New_or_Used,Sale_Price,Book_Value,Type,Region_Nm,Condition,Model_Year,Odometer,...,Num_Axles,Num_Wheels,Delivery_Region,Channel,Rear_Axle_Weight,front_axle_wt,Horsepower,Engine_RPM,eng_est_life,Engine_Type
0,Q2,2020,NEW,48501,2.287273,Tractor,RVS UTC Central US RGN,Ready,0.173301,0.019126,...,1.509573,1.506326,Western US,Retail,1.380371,0.740440,1.860243,-0.719485,1.430907,IN LINE
1,Q2,2020,NEW,10080,-1.696065,Truck,RVS UTC EAST REGION,As Is,-2.441545,-0.530375,...,-0.650313,-0.576177,Western US,Retail,-0.593594,-0.841430,-1.070189,0.047720,-0.703305,IN LINE
2,Q2,2020,NEW,38830,-0.298850,Truck,RVS UTC EAST REGION,Ready,-0.200249,-0.799051,...,-0.650313,-0.576177,Central US,Retail,-0.286532,0.740440,-0.325952,-0.412603,-0.563357,IN LINE
3,Q2,2020,NEW,10482,-0.828177,Truck,RVS UTC EAST REGION,As Is,0.173301,0.136472,...,-0.650313,-0.576177,Central US,Retail,-0.461996,-0.050495,-0.837615,-0.105721,-0.703305,IN LINE
4,Q2,2020,NEW,31033,0.501695,Tractor,RVS UTC EAST REGION,Validated,0.173301,0.281931,...,1.509573,1.506326,Northeastern US,Fleet,1.380371,0.740440,1.348580,-0.719485,1.081036,IN LINE

In [85]:
categorical

['Quarter',
 'Year',
 'New_or_Used',
 'Type',
 'Region_Nm',
 'Condition',
 'Engine_Manufacturer',
 'Fuel_Type',
 'Delivery_Region',
 'Channel',
 'Engine_Type']

In [88]:
categorical_transformed.shape

(13252, 56)

In [95]:
truck_ds.shape

(13252, 13)